<p>
  servers works!
</p>

<!--<app-server></app-server>
<app-server></app-server>-->

<h5> DataBinding </h5>
<h5> Property Binding </h5>


<button class="btn btn-primary" [disabled]="!allowNewServer">Add Server</button>

<!--[ ] indicate to Angular the we're using property binding-->

<!--[disabled]="!allowNewServer" ==> that means
add 'disabled' property to the button when allowNewServer == false
else remove this property 
So, if allowNewServer changed that will update dynamically -->

<!-- that's one of the main reasons why we use Angular 
cause it makes it easy to interact with the DOM 
to change something at runtime -->


<!-- string interpolation vs property binding -->

<p>{{ allowNewServer }}</p> <!-- string interpolation -->
<p [innerText]="allowNewServer"></p> <!-- property binding -->


<h5> DataBinding </h5>
<h5> Event Binding </h5>
<p>{{ serverCreationStatus }}</p>

<h5>Passing and Using Data with Event Binding</h5>
<label>Server Name</label>
<input
    type = "text"
    class= "form-control" 
    (input)="onUpdateServerName($event)">
    
<p>{{ serverName }}</p>
    
   <!-- $event is reserved var name 
   to use in the template when using databinding
   ==> it's the data emitted with that event -->

<button class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>